
a {
  padding-right: 3px;
  font-weight: bold;
  color: black;
  padding-left: -2px;
}

body{
  font-family: 'Libre Baskerville', serif;
}
.home-page{
  background-image: url("./assets/img/01.jpg"); 
  background-size: cover;
  background-position: center;
}

 .icon{
position: absolute;
left: 0;
top: 8px;
padding: 0px 5px 0px 10px;
color:red;
font-size: 18px;
transition: .3s;
z-index: 20;
}

.footer-container{
  background-color: #ffc107;;
  height: 80px ;
  text-align: center;
  padding-top: 23px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.dog-container{
  margin-top: 452px;
}

.header-box{
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  padding: 30px;
  color: black;
}
.search-button{
  background-color: yellow;
  border: 1px solid yellow;
  width: 40px;
  font-size: 18px;
  height: 35px;
  color: black;
  margin-top: -1px;
}
.search-buttonr:hover {
  background:rgb(11, 11, 31);
  border: rgb(11, 11, 31);
  color:white;
}

.card-deck{
  padding-left: 52px;
  padding-bottom: 70px;
  padding-left: 20px;
  background-color:whitesmoke;
}


.card-button{
  background-color: red;
  border: 1px solid red;
}

.search-container{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: black;
  margin-left: -25px;
  
}

.search-box{
  margin: 0 auto;
  width: 410px;
  height:300px;
  margin-top: 46px;
}

.input{
  padding-left: 40px;
  font-size: 12px;
  height: 35px;
  margin-top: -1px;
  border: 1px solid white;
  background-color: whitesmoke;
}

.myUser{
  font-size: 15px;
  padding-left: 191px;
  padding-top: 37px;

}

.dog-img{
  width: 250px;
  height: 250px;
  border: 2px solid rgba(98, 232, 255, 0.961);
  border-radius: 50%;
}

.card{
  width: auto;
  display: block;
  background: transparent;
  text-align: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-color: transparent;
  margin: auto;
}

.card-body{
  background-color:whitesmoke;
  text-align: center;
}

.logo {
  font-size: 50px;
}

.myDogs{
  margin-top: 50px;
}

.paw-btn{
  margin-left: 5px;
}

.dog-page{
  background-color:whitesmoke;
  
}
.myCalendar{
  text-align: center;
  width: 100%;
  background-color: rgba(98, 232, 255, 0.961);
  height: 415px;
  padding-top: 60px;
}
.my-dog-details{
  height: 300px;
  border-radius: 50% 50%;

}

.react-player{
  width: 100% !important;
  height: 100% !important;
  border-radius: 50% 50%; 
}

.googleMapContainer {
  height: 411px;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 12px;

}

.details-page-outer-organizer{

}
.details-page-inner-organizer{

}
.dog-story-container{

}
.dog-identification-container{

}
.dog-video-container{
  margin-top: 37px;
  border: 1px solid rgba(98, 232, 255, 0.961);
}
.dog-story-container{
  border: 1px solid rgba(98, 232, 255, 0.961);
  padding: 15px;
  margin-top: 9px;
}
.dog-booking-container{
  background-color: rgba(98, 232, 255, 0.961);
}
.dog-location-container{

}
.dog-calendar-container{

}
.dog-confirmation-container{
  margin-bottom: 28px;
}
.dog-story{
  font-size: 12px;
  text-align: justify;
  font-family: 'Libre Baskerville', serif;
  line-height: 2.6;
}
.dog-story-header{
  margin:15px;
}
.calendar-appointment{
  margin-top: -6px;
  margin-bottom: 31px;
}
.appointment-time{
  margin-top: -27px;
  margin-bottom: 30px;
}
.mySearch{
  height: -webkit-fill-available;
}